/* *,html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
} */
/* body{
        background: linear-gradient(to right, #5b86e5eb, #36d1dcb3);
} */
/* 
:root{
    --bg-primary: #3765ff;
    --bg-secondary: #5db1ff;
    --bg-tertiary: #f2f2f2;
    --txt-primary: #333;

    --icons-bg-primary:tomato;
    --icons-bg-secondary:aqua;
    

} */


 /* ==================
     == NAVIGASI BAR ==
     ================== */

    /* nav {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        width: 100%;
        margin: 0 auto;
        background-color:#3765ff;
    }

    nav ul {
        display: flex;
        padding-right: 1rem;
    }

    nav p {
        display: flex;
        color: rgb(255, 242, 255);
        margin-bottom: 0;
        font-family: 'Silkscreen', cursive;
        margin-left: 100px;
        box-sizing: border-box;
        font-size: 25px;
        margin-top: -10px;
    }

    nav ul li {
        list-style: none;
        margin-left: 2rem;
        margin-top: -4px;
    }

    nav a {
        
        text-decoration: none;
        color: aliceblue;
        font-family: 'Silkscreen', cursive;
    } */

    /* Konten isi */

    /* .container {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        padding: 0;
    } */
    /* Biodata  */
    /* .biodata{
        
        background-image: url("./img/wallpaperflare.com_wallpaper.jpg");
        background-size: cover;
        height: 755px;
  
        background-repeat: no-repeat;
       
       
    } */
    /* .biodata h1{
        max-width: 100%;
    } */
    .wrapper {
        margin-top: 2rem;
        width: 100%;
        height: auto ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        border: 1px solid red;
        background-color: #222;
        color: white;
        height:15rem;
        width: 15rem;
        margin: 1rem;
    }.card h2{
        margin-top: 1rem;
    }


    .icons{
        color:var(--icons-bg-primary);
        font-size: 24px;
        
    }
    .btn{
        margin-top: 16px;
        padding: 8px;
        cursor: pointer;
        width: 100%;
        color: var(--bg-secondary);
        border: none;

    }

    .btn:hover{
        background-color:var(--bg-primary) ;
        color: #222;
        -ms-transform: rotate(10deg);
        transform: rotate(3deg);
    }
    